<div class="relative w-4/5 max-w-md mx-auto mt-3">
  <!-- Barre de recherche -->
  <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)"
         placeholder="Rechercher un livre..."
         class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
<!--  Liste des suggestions-->
  <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700 mt-3">
    <li class="pb-3 sm:pb-4" *ngFor="let book of suggestions" (click)="selectBook(book)">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
        <div class="flex-shrink-0 mt-2" *ngIf="book.volumeInfo.imageLinks; else noImage">
          <img class="w-8 h-12" src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="Book image">
        </div>
        <ng-template #noImage>
        <div class="flex-shrink-0 mt-2" *ngIf="!book.volumeInfo.imageLinks">
          <img class="w-8 h-8" src="assets/logo.png" alt="Book image">
        </div>
        </ng-template>
        <div class="flex-1 min-w-0">
          <p class="text-sm font-medium text-gray-900 truncate">
            {{ book.volumeInfo.title }}
          </p>
          <p class="text-sm text-gray-500 truncate dark:text-gray-400" *ngIf="book.volumeInfo.authors">
            {{ book.volumeInfo.authors[0] }}
          </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900">
          {{ book.volumeInfo.pageCount }} pages
        </div>
      </div>
    </li>
  </ul>
</div>
