<h1>Vous avez {{ totalBooks }} livres dans votre bibliothèque.</h1>

<div class="flex items-center -space-x-4">
  <img *ngFor="let book of books"
       alt="user 1"
       [src]="book.image"
       class="relative inline-block h-auto w-12 border-2 border-white object-cover object-center hover:z-10 focus:z-10"
  />
</div>

<div class="flex items-center -space-x-4">
  <img *ngFor="let book of suggestedBooks"
       alt="user 1"
       [src]="book.volumeInfo.imageLinks.thumbnail"
       class="relative inline-block h-auto w-16 border-2 border-white object-cover object-center hover:z-10 focus:z-10"
  />
</div>
